#news-details
  #nd-head
  .nd-body.post-content
    %h2.entry-title
      Open Source

    %p We embrace Open Source and use it in every part of our company. Using Open Source comes with certain responsibilities: to contribute back. This is what makes open source great and we want to be a part of that.
    %h1 WyzihatKit
    %p
      WKTextView is a
      %a{:href => "http://cappuccino.org/"} Cappuccino
      control providing rich text editing through use of a browser driven content-editable div.
    %p
      You can view
      = succeed "." do
        %a{:href => "/downloads/wktextview-sample/index.html"} a demo here
      For more information, see the
      = succeed "." do
        %a{:href => "http://github.com/wireload/WKTextView"} WKTextView GitHub page

    %h1 SwtCallback
    %p
      SwtCallback was one of the first open source contributions WireLoad made. Version 0.1 was first
      %a{:href => "http://www.playingwithwire.com/2007/05/wireload-releases-swtcallback-java-library/"} released
      back in 2007, and then version 0.2 was
      %a{:href => "http://www.playingwithwire.com/2007/06/java-library-swtcallback-02-released-helps-avoid-runnable-interface/"} released
      shortly thereafter.
    %p
      SwtCallBack a Java library for SWT that enables callbacks for event handling. SwtCallback is inspired by the Swing enhancer
      %a{:href => "http://buoy.sourceforge.net/"} Buoy
      by Peter Eastman.
    %p
      You can download SwtCallBack over at
      = succeed "." do
        %a{:href => "https://github.com/wireload/SwtCallback"} Github

    %h1 Contributions
    %p Products or projects we’ve made contributions to.
    %h3 Cappuccino
    %p
      %a{:href => "http://cappuccino.org/"} Cappuccino
      is an awesome Web Application Framework written in JavaScript and Objective-J.
      = succeed "," do
        %a{:href => "https://github.com/aljungberg"} Alexander
      one of the founders of WireLoad, is an active contributor to the project. Alexander also presented at
      = succeed "." do
        %a{:href => "http://cappcon.org/"} CappCon 2011.

    %h3 Django-Zendesk
    %p
      This Django application provides single sign-on compatibility to
      %a{:href => "http://www.zendesk.com/"} Zendesk
      (which they call Remote Authentication) with Django’s django.contrib.auth app. The application was created by
      = succeed "." do
        %a{:href => "http://www.jongales.com/"} Jon Gales
      We have contributed with code to improve the functionality of this application.
    %p
      You can download Django-Zendesk from
      = succeed "." do
        %a{:href => "http://bitbucket.org/jonknee/django_zendesk/"} Bitbucket
